# Админ Telegram ID
TELEGRAM_SUPERADMIN=your_admin_id_here

# Админ MAX ID
MAX_SUPERADMIN=your_max_admin_id_here

# Тех. чат Telegram
TECHNO_INFO=your_tech_chat_id_here

# YDB
YDB_MODE=cloud-local
YDB_DATABASE=/ru-central1/your-folder/your-database
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135
YC_SERVICE_ACCOUNT_KEY_FILE=/path/to/your/service/account/key/file.json

# YooKassa
YOOKASSA_ACCOUNT_ID=your_account_id_here
YOOKASSA_SECRET_KEY=your_secret_key_here

# Логи
LOG_MODE=local
LOG_GROUP_ID=your_log_group_id_here

# Telegram bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# VK
VK_APP_ID=your_vk_app_id_here
VK_ACCESS_TOKEN=your_vk_access_token_here

# Локальный сервер
LOCAL_PORT=8080

# MAX bot
MAX_BOT_TOKEN=your_max_bot_token_here
MAX_API_BASE_URL=https://platform-api2.max.ru

# Объектное хранилище Yandex
AWS_ACCESS_KEY_ID=your_s3_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_s3_secret_access_key_here
AWS_REGION=ru-central1
S3_ENDPOINT_URL=https://storage.yandexcloud.net
BUCKET_NAME=your_bucket_name_here
