# Админ Telegram ID
SUPERADMIN=your_admin_id_here

# Тех. чат Telegram
TECHNO_INFO=your_tech_chat_id_here

# YDB
YDB_MODE=cloud
YDB_DATABASE=/ru-central1/your-folder/your-database
YDB_ENDPOINT=grpcs://ydb.serverless.yandexcloud.net:2135

# YooKassa
YOOKASSA_ACCOUNT_ID=your_account_id_here
YOOKASSA_SECRET_KEY=your_secret_key_here

# Логи
LOG_GROUP_ID=your_log_group_id_here

# Telegram bot
BOT_TOKEN=your_bot_token_here

# VK
VK_APP_ID=your_vk_app_id_here
VK_ACCESS_TOKEN=your_vk_access_token_here

# MAX bot
MAX_BOT_TOKEN=your_max_bot_token_here
MAX_API_BASE_URL=https://platform-api.max.ru
