[Unit]
Description=Дневная статистика в 23:55 по Москве

[Timer]
# 23:55 МСК
OnCalendar=*-*-* 20:55:00 UTC
Persistent=false
Unit=schoolpupilbot-trigger@daily_statistics.service

[Install]
WantedBy=timers.target
