[Unit]
Description=Рассылка изменений в расписании в 08:00 и 20:00 по Москве

[Timer]
# 08:00 и 20:00 МСК
OnCalendar=*-*-* 05,17:00:00 UTC
Persistent=false
Unit=schoolpupilbot-trigger@mailing_changes_tt.service

[Install]
WantedBy=timers.target
