[Unit]
Description=Ежедневная проверка срока сертификата

[Timer]
# 09:00 МСК
OnCalendar=*-*-* 06:00:00 UTC
Persistent=true
Unit=schoolpupilbot-cert-check.service

[Install]
WantedBy=timers.target
