[Unit]
Description=Рассылка новостей каждый час

[Timer]
OnCalendar=*-*-* *:00:00 UTC
Persistent=false
Unit=schoolpupilbot-trigger@mailing_newsletter.service

[Install]
WantedBy=timers.target
