[Unit]
Description=Рассылка изменений в расписании в 08:00 и 20:00 по Москве

[Timer]
OnCalendar=*-*-* 08,20:00:00
Timezone=Europe/Moscow
Persistent=false
Unit=schoolpupilbot-trigger@mailing_changes_tt.service

[Install]
WantedBy=timers.target
